.x-ux-callout.red {
    background-image: url(../../images/error.png);
    background-attachment: scroll;
    background-color: red;
    border: 2px solid rgb(139, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px;
    color: rgb(255, 255, 255) !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: visible;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}
.x-ux-callout.red.top:after,
.x-ux-callout.red.top:before,
.x-ux-callout.red.top-left:after,
.x-ux-callout.red.top-left:before,
.x-ux-callout.red.top-right:after,
.x-ux-callout.red.top-right:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.x-ux-callout.red.top:after {
    border-bottom-color: red;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}
.x-ux-callout.red.top:before {
    border-bottom-color: rgb(139, 0, 0);
    border-width: 11px;
    left: 50%;
    margin-left: -11px;
}
.x-ux-callout.red.top-left {
    -webkit-border-top-left-radius: 1;
    -moz-border-radius-topleft: 1;
    border-top-left-radius: 1;
}
.x-ux-callout.red.top-left:after {
    border-bottom-color: red;
    border-width: 8px;
    left: 10px;
    margin-left: -8px;
}
.x-ux-callout.red.top-left:before {
    border-bottom-color: rgb(139, 0, 0);
    border-width: 11px;
    left: 10px;
    margin-left: -11px;
}
.x-ux-callout.red.top-right {
    -webkit-border-top-right-radius: 1;
    -moz-border-radius-topright: 1;
    border-top-right-radius: 1;
}
.x-ux-callout.red.top-right:after {
    border-bottom-color: red;
    border-width: 8px;
    left: 100%;
    margin-left: -19px;
}
.x-ux-callout.red.top-right:before {
    border-bottom-color: rgb(139, 0, 0);
    border-width: 11px;
    left: 100%;
    margin-left: -22px;
}
.x-ux-callout.red.bottom:after,
.x-ux-callout.red.bottom:before,
.x-ux-callout.red.bottom-left:after,
.x-ux-callout.red.bottom-left:before,
.x-ux-callout.red.bottom-right:after,
.x-ux-callout.red.bottom-right:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.x-ux-callout.red.bottom:after {
    border-top-color: red;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}
.x-ux-callout.red.bottom:before {
    border-top-color: rgb(139, 0, 0);
    border-width: 11px;
    left: 50%;
    margin-left: -11px;
}
.x-ux-callout.red.bottom-left {
    -webkit-border-bottom-left-radius: 1;
    -moz-border-radius-bottomleft: 1;
    border-bottom-left-radius: 1;
}
.x-ux-callout.red.bottom-left:after {
    border-top-color: red;
    border-width: 8px;
    left: 10px;
    margin-left: -8px;
}
.x-ux-callout.red.bottom-left:before {
    border-top-color: rgb(139, 0, 0);
    border-width: 11px;
    left: 10px;
    margin-left: -11px;
}
.x-ux-callout.red.bottom-right {
    -webkit-border-bottom-right-radius: 1;
    -moz-border-radius-bottomright: 1;
    border-bottom-right-radius: 1;
}
.x-ux-callout.red.bottom-right:after {
    border-top-color: red;
    border-width: 8px;
    left: 100%;
    margin-left: -19px;
}
.x-ux-callout.red.bottom-right:before {
    border-top-color: rgb(139, 0, 0);
    border-width: 11px;
    left: 100%;
    margin-left: -22px;
}
.x-ux-callout.red.right:after,
.x-ux-callout.red.right:before,
.x-ux-callout.red.right-top:after,
.x-ux-callout.red.right-top:before,
.x-ux-callout.red.right-bottom:after,
.x-ux-callout.red.right-bottom:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    /* width: 0; */

    position: absolute;
    pointer-events: none;
}
.x-ux-callout.red.right:after {
    border-left-color: red;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}
.x-ux-callout.red.right:before {
    border-left-color: rgb(139, 0, 0);
    border-width: 11px;
    top: 50%;
    margin-top: -11px;
}
.x-ux-callout.red.right-top {
    -webkit-border-top-right-radius: 1;
    -moz-border-radius-topright: 1;
    border-top-right-radius: 1;
}
.x-ux-callout.red.right-top:after {
    border-left-color: red;
    border-width: 8px;
    top: 10px;
    margin-top: -8px;
}
.x-ux-callout.red.right-top:before {
    border-left-color: rgb(139, 0, 0);
    border-width: 11px;
    top: 10px;
    margin-top: -11px;
}
.x-ux-callout.red.right-bottom {
    -webkit-border-bottom-right-radius: 1;
    -moz-border-radius-bottomright: 1;
    border-bottom-right-radius: 1;
}
.x-ux-callout.red.right-bottom:after {
    border-left-color: red;
    border-width: 8px;
    top: 100%;
    margin-top: -19px;
}
.x-ux-callout.red.right-bottom:before {
    border-left-color: rgb(139, 0, 0);
    border-width: 11px;
    top: 100%;
    margin-top: -22px;
}
.x-ux-callout.red.left:after,
.x-ux-callout.red.left:before,
.x-ux-callout.red.left-top:after,
.x-ux-callout.red.left-top:before,
.x-ux-callout.red.left-bottom:after,
.x-ux-callout.red.left-bottom:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    pointer-events: none;
}
.x-ux-callout.red.left:after {
    border-right-color: red;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}
.x-ux-callout.red.left:before {
    border-right-color: rgb(139, 0, 0);
    border-width: 11px;
    top: 50%;
    margin-top: -11px;
}
.x-ux-callout.red.left-top {
    -webkit-border-top-left-radius: 1;
    -moz-border-radius-topleft: 1;
    border-top-left-radius: 1;
}
.x-ux-callout.red.left-top:after {
    border-right-color: red;
    border-width: 8px;
    top: 10px;
    margin-top: -8px;
}
.x-ux-callout.red.left-top:before {
    border-right-color: rgb(139, 0, 0);
    border-width: 11px;
    top: 10px;
    margin-top: -11px;
}
.x-ux-callout.red.left-bottom {
    -webkit-border-bottom-left-radius: 1;
    -moz-border-radius-bottomleft: 1;
    border-bottom-left-radius: 1;
}
.x-ux-callout.red.left-bottom:after {
    border-right-color: red;
    border-width: 8px;
    top: 100%;
    margin-top: -19px;
}
.x-ux-callout.red.left-bottom:before {
    border-right-color: rgb(139, 0, 0);
    border-width: 11px;
    top: 100%;
    margin-top: -22px;
}
